* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

body {
    background: #0f172a;
    color: #e2e8f0;
    line-height: 1.6;
}

header {
    text-align: center;
    padding: 40px 20px;
    background: #1e293b;
    display: flex;
    justify-content: center;  
    align-items: center;   
    ;
}

header h1 {
    font-size: 40px;
    color: #38bdf8;
}

header p {
    margin-top: 10px;
    font-size: 18px;
}

.contact {
    margin-top: 15px;
    font-size: 14px;
    color: #94a3b8;
}

section {
    padding: 40px 10%;
}

h2 {
    color: #38bdf8;
    margin-bottom: 20px;
    border-bottom: 2px solid #38bdf8;
    display: inline-block;
    padding-bottom: 5px;
}

.card {
    background: #1e293b;
    padding: 15px;
    margin: 10px 0;
    border-radius: 8px;
}

.skills span {
    display: inline-block;
    background: #334155;
    padding: 8px 12px;
    margin: 5px;
    border-radius: 20px;
    font-size: 14px;
}

.project {
    background: #1e293b;
    padding: 15px;
    margin: 15px 0;
    border-left: 4px solid #38bdf8;
    border-radius: 6px;
}

ul {
    margin-left: 20px;
}

footer {
    text-align: center;
    padding: 20px;
    background: #1e293b;
    font-size: 14px;
    color: #94a3b8;
}
